.chart-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bar-chart-container{
    justify-items: center;
}

@media screen and (max-width: 600px) {
    .chart-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }